TRUNK1 RCDATA "..\\img\\color1.jpg"
TRUNK2 RCDATA "..\\img\\color2.jpg"
TRUNK3 RCDATA "..\\img\\color3.jpg"
TRUNK4 RCDATA "..\\img\\color4.jpg"
TWIGS1 RCDATA "..\\img\\branch1.png"
TWIGS2 RCDATA "..\\img\\branch2.png"
TWIGS3 RCDATA "..\\img\\branch3.png"
TWIGS4 RCDATA "..\\img\\branch4.png"
TWIGS5 RCDATA "..\\img\\branch5.png"
TWIGS6 RCDATA "..\\img\\branch6.png"
